<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    .container {
      background-color: black;
    }

    h1 {
      color: rgb(209, 209, 209);
    }

    p {
      color: brown;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>title</h1>
    <p>text</p>
    <a href="https://campus.ort.edu.ar/"><button>Recuperar contraseña</button></a>
  </div>
</body>

</html>