.header {

    border-bottom: 3px #EBEBEB;
    background-color: $lightBlack;
    width: 100%;
    position: fixed;
    z-index: 2;
    
    nav {
        padding: 10px 30px;
    }

    &__links {
        a {
            font-size: $header-links;
            color: $white;
        }

        img {
            display: flex;
            align-content: center;
        }
    }

    &__cta {
        font-size: $header-links;
        color: $white;
    }
}

.wrapper ul{
    display: flex;
    list-style: none;
}

.nav_links{
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
}

//Media queries para escalara la font-size, el logo (img), CTA, 

/*

Media querie tamaño máximo 480 width (desktop).
Media querie tamaño máximo 1040 with (desktop).
Media querie en adelante (desktop).

*/

.wrapper ul li a{
    text-decoration: none;
    position: relative;
    margin: 0 60px;
}

.wrapper ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    bottom: -9px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s linear;
}

.wrapper ul li a:hover:after{
    transform-origin: bottom left;
    transform: scaleX(1);
}
// @media screen and (max-width: 1600px){
//     .wrapper ul li a{
//         font-size: 20px;
//         margin: 0 40px;
//     }
//     header .nav__button{
//         width: 220px;
//     }
//     header img{
//         width: 150px;
//     }
// }