.main_container {
    max-height: 100vh;
    max-width: 100vw;
}

.main_container a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    position: relative;
}

.side_bar {
    position: sticky;
    top: 0px;
    height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    transition: .2s all ease;
}

.side_bar_user {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 110px;
    margin-left: 35px;
    white-space: nowrap;
}

.side_bar_user:hover {
    cursor: pointer;
}

.side_bar_user_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.side_bar_user_info {
    display: flex;
    flex-direction: column;
}

.logo_container {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.side_bar_links {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.side_bar_links>a{
    margin: 10px;
    word-spacing: 15px;
    padding: 10px;
    border-radius: 3px;
    width: 90%;
    white-space: nowrap;
    transition: .2s all ease;
    border: 1px;
    border-style: solid;
    border-color: #252525;
}
.side_bar_links>a:hover {
    border-color: #01adb4;
}
.current {
    background-color: #01adb4;
}

.main_container {
    display: flex;
    flex-direction: row;
}
.primary_container {
    width: 100vw;
}
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    background: url("../../../assets/Graphic Side.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;

}



.closed {
    width: 0px;
    overflow: hidden;
}
.table_heading {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 4rem;
}
.main_container > h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 3rem;
}
.btn_delete {
    color: whitesmoke;
    border-radius: 3px;
    cursor: pointer;
}
.btn_search{
    cursor: pointer;
}

/* Cerrar sesión */

.speach_btn{
    margin-top: 5vh;
    margin-left: 35px;

    width: 10vw;

    background-color: #1A1A1A;
    border: 2px solid #1A1A1A;
    border-radius: 5px;
    position: absolute;     

    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 175%;
}

.btnArrow:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #1A1A1A;
    border-right: 10px solid transparent;
    border-top: 10px solid #1A1A1A;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
  }