.about {
    padding-top: 145px;
    padding-bottom: 115px;
    width: 100vw;
    //Text card dividing section
    &__team_card {
        background: linear-gradient(to right, $darkCyan, $cyan);
        height: 220px;
        width: 550px;
        border-radius: 0px 18px 18px 0px;
        padding: 10px 30px 10px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        

        a {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 72px;
            color: $white;
            
        }
    }

    //All cards
    &__image_cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 32px;
        flex-wrap: wrap;
        padding-top: 115px;

    }

    //Name on card
    &__name {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $white;
    }

    //"HTML tag" with role
    &__nameTag {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $white;
    }

    //Each individual card
    &__single_card {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: auto;
        height: 490px;
        background: #000000;
        border-radius: 11px;
        outline: none;

        &:hover {
            cursor: pointer;
            transition: .5s all;
            outline: solid 1px #01adb4;
        
            .about__member_photo {
                opacity: .6;
            }
        }

        h4 {
            text-align: center;
        }
    }
}