.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;

    div {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: $white;
        cursor: default;
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $white;
        cursor: default;
    }
}