.header {

    border-bottom: 3px #EBEBEB;
    background-color: $lightBlack;
    width: 100%;
    position: fixed;
    z-index: 1;
    
    nav {
        padding: 20px 30px;
    }

    &_logo {

        img {

        }

    }

    &__links {
        a {
            font-size: $header-links;
            color: $white;

            &:not(:last-child){
                margin-right: 80px;
            }

            &:hover{
                //color: $darkCyan;
            }
        }
    }

    &__cta {
        font-size: $header-links;
        color: $white;
    }
}