.comenzar_sec {
    overflow: hidden;
    position: relative;
    height: 70vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    &__bg {
        opacity: 0.25;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }
    &__content {
        position: relative;
       
        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 78px;  
        }

        button {
            width: 360px;
            height: 60px;
            font-size: 30px;
        }
    }
    @media screen and (max-width:1600px){
            &__content {
        
            h2 {
                font-weight: 700;
                font-size: 50px;
                line-height: 50px;
            }

            button {
                width: 280px;
                height: 50px;
                font-size: 25px;
            }
        }
    }
}