//Colors
$white: #FFF;
$lightGray: rgb(192, 192, 192);
$darkCyan: #01ADB4;
$cyan: #00858b;
$lightPurple: #6579DC;
$darkBlue:#040420;
$darkPurple: #2D2E5F;
$lightBlack: #1A1A1A;
$black: #151313;

//Font Sizes
$header-links: 1.5rem; //24px