@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #161526;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html body::-webkit-scrollbar {
  width: 8px;
}
html body::-webkit-scrollbar-track {
  background: transparent;
}
html body::-webkit-scrollbar-thumb {
  background-color: #00858b; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #FFF;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-r {
  justify-content: right;
}
.flex-jc-l {
  justify-content: right;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-l {
  align-items: left;
}

.nav__button {
  display: flex;
  align-content: center;
}

button, .button {
  width: 259px;
  height: 49px;
  cursor: pointer;
  white-space: nowrap;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cyanBtn {
  background: linear-gradient(to right, #01ADB4, #00858b);
  border: 0;
  border-radius: 10px;
}

.transparantBtn {
  background: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 10px;
  background-image: url("../images/btnWaterEffect.svg");
  background-repeat: repeat-x;
  background-position: 0 -100%;
  transition: 0.5s ease;
}
.transparantBtn:hover {
  background-position: center;
}

.levitate {
  -webkit-transition-duraion: 1.25s;
  transition-duration: 1.25s;
  transition-property: box-shadow, transform;
}
.levitate:hover, .levitate:focus, .levitateactive {
  transform: scale(1.1);
}

.color__darkcyan {
  color: #01ADB4;
}
.color__cyan {
  color: #00F5FF;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  border-bottom: 3px #EBEBEB;
  background-color: #1A1A1A;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.header nav {
  padding: 10px 30px;
}
.header__links a {
  font-size: 1.5rem;
  color: #FFF;
}
.header__links img {
  display: flex;
  align-content: center;
}
.header__cta {
  font-size: 1.5rem;
  color: #FFF;
}

.wrapper ul {
  display: flex;
  list-style: none;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
}

/*

Media querie tamaño máximo 480 width (desktop).
Media querie tamaño máximo 1040 with (desktop).
Media querie en adelante (desktop).

*/
.wrapper ul li a {
  text-decoration: none;
  position: relative;
  margin: 0 60px;
}

.wrapper ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  bottom: -9px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s linear;
}

.wrapper ul li a:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

@media screen and (max-width: 1600px) {
  .wrapper ul li a {
    font-size: 20px;
    margin: 0 40px;
  }
  header .nav__button {
    width: 220px;
  }
  header img {
    width: 150px;
  }
}
.hero {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 100vw;
  height: 120vh;
  align-items: center;
}
.hero__image {
  height: 700px;
  width: 600px;
}
.hero__imageimg {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.hero__text {
  flex-direction: column;
  padding-bottom: 100px;
}
.hero__text h1 {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 64px;
  line-height: 78px;
  cursor: default;
  color: #FFF;
}
.hero__text button {
  width: 363px;
  height: 62px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.hero__text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  cursor: default;
  color: #FFF;
}
.hero__buttons {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}
.hero__IARAtxt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  background: linear-gradient(270deg, #01ADB4 13.71%, #00555A 176.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.hero__gratuitatxt {
  font-style: italic;
}
@media screen and (max-width: 1600px) {
  .hero__image {
    width: 500px;
    height: 550px;
  }
  .hero__text h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .hero__text p {
    font-size: 16px;
    line-height: 20px;
  }
  .hero__text button {
    width: 280px;
    height: 50px;
    font-size: 20px;
  }
  .hero__IARAtxt {
    font-size: 45px;
    line-height: 50px;
  }
  .hero__buttons {
    padding-top: 5px;
    gap: 10px;
  }
}

.cards {
  background-color: #13173E;
  padding: 170px 150px 100px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.cards__img {
  z-index: 0;
  position: absolute;
  align-self: center;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.cards__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.cards__items {
  display: flex;
  flex-direction: column;
  gap: 180px;
  padding-left: 400px;
}
.cards__top_row, .cards__bottom_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  z-index: 1;
}
.cards__top_row div, .cards__bottom_row div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.cards__top_row h2, .cards__bottom_row h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #FFF;
  cursor: default;
}
.cards__top_row p, .cards__bottom_row p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFF;
  cursor: default;
}

@media screen and (max-width: 1600px) and (min-width: 1101px) {
  .cards {
    padding-top: 110px;
  }
  .cards__img {
    width: 480px;
    height: 480px;
  }
  .cards__items {
    gap: 50px;
    padding-left: 300px;
  }
  .cards__top_row h2, .cards__bottom_row h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .cards__top_row p, .cards__bottom_row p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1800px) and (min-width: 1601px) {
  .cards__img {
    width: 650px;
    height: 650px;
  }
  .cards__items {
    gap: 90px;
  }
  .cards__top_row h2, .cards__bottom_row h2 {
    font-size: 27px;
    line-height: 32px;
  }
  .cards__top_row p, .cards__bottom_row p {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1100px) {
  .cards {
    padding-top: 110px;
  }
  .cards__img {
    width: 500px;
    height: 500px;
  }
  .cards__items {
    gap: 50px;
    padding: 0;
  }
  .cards__top_row h2, .cards__bottom_row h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .cards__top_row p, .cards__bottom_row p {
    font-size: 14px;
    line-height: 20px;
  }
}
.comenzar_sec {
  overflow: hidden;
  position: relative;
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.comenzar_sec__bg {
  opacity: 0.25;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.comenzar_sec__content {
  position: relative;
}
.comenzar_sec__content h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
}
.comenzar_sec__content button {
  width: 360px;
  height: 60px;
  font-size: 30px;
}
@media screen and (max-width: 1600px) {
  .comenzar_sec__content h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
  }
  .comenzar_sec__content button {
    width: 280px;
    height: 50px;
    font-size: 25px;
  }
}

.about {
  padding-top: 145px;
  padding-bottom: 115px;
  width: 100vw;
}
.about__team_card {
  background: linear-gradient(to right, #01ADB4, #00858b);
  height: 220px;
  width: 550px;
  border-radius: 0px 18px 18px 0px;
  padding: 10px 30px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__team_card a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #FFF;
}
.about__image_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 32px;
  flex-wrap: wrap;
  padding-top: 115px;
}
.about__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.about__nameTag {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.about__single_card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: auto;
  height: 490px;
  background: #000000;
  border-radius: 11px;
  outline: none;
}
.about__single_card:hover {
  cursor: pointer;
  transition: 0.5s all;
  outline: solid 1px #01adb4;
}
.about__single_card:hover .about__member_photo {
  opacity: 0.6;
}
.about__single_card h4 {
  text-align: center;
}

.landing_footer {
  width: 100vw;
}
.landing_footer__logos {
  padding: 75px 120px;
}
.landing_footer__logos ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.under_footer {
  display: flex;
  width: 100vw;
  height: 20vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}
.under_footer__links {
  line-height: 40px;
}
.under_footer__links a {
  text-decoration: underline;
}
.under_footer__links span {
  font-size: 20px;
}
.under_footer .link_footer {
  color: #1A01B4;
  font-size: 20px;
}
.under_footer__social {
  width: 250px;
}
.under_footer__social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.under_footer__social ul img {
  width: 50px;
}
@media screen and (max-width: 1600px) {
  .under_footer {
    padding: 0 150px;
  }
  .under_footer .link_footer {
    font-size: 16px;
  }
  .under_footer span {
    font-size: 16px;
  }
}

.era {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.era__text h2 {
  font-size: 60px;
  line-height: 60px;
  padding-bottom: 100px;
}
.era__azul {
  color: #01ADB4;
  margin-left: 70px;
}
.era p {
  font-size: 20px;
}
.era__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1600px) {
  .era__image {
    width: 400px;
    height: 400px;
  }
  .era__text h2 {
    font-size: 45px;
    line-height: 45px;
    padding-bottom: 70px;
  }
  .era__azul {
    color: #01ADB4;
    margin-left: 70px;
  }
  .era p {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */