.landBody {
    padding-top: 35vh;
    padding-left: 9.75vw;
    padding-right: 9.75vw;
    padding-bottom: 40vh;

    display: flex;
    justify-content: space-between;

    @media(max-width: 1023px){
        justify-content: center;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        text-align: left;

        @media(max-width: 1023px){
            text-align: center;
        }
    }

    &__title {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 65px;
        
        @media(max-width: 1023px){
            font-size: 40px;
        }

        // background: linear-gradient(90.11deg, #FFFFFF -323.42%, #010101 77.56%);
        // background: linear-gradient(90.11deg, #FFFFFF 323.42%, #010101 77.56%);
        
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // background-clip: text;

        &_cyan {
            color: #01ADB4;
            letter-spacing: 3px;
            // background: linear-gradient(270deg, #01ADB4 13.71%, #00555A 176.79%);
            // background-clip: text;
        }
    }

    &__subtitle {
        display: inherit;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;

        @media(max-width: 1023px){
            font-size: 20px;
        }
    }

    &__carrousel {
        margin: 0;
        font-weight: 700;

        display: flex;
        flex-direction: column;

        height: 2.4rem;
        overflow: hidden;

        @media(max-width: 1023px){
            text-align: left;
        }

        &_line {

            &:first-child{
                animation: anim 20s infinite;
            }
        }
    }
}

@keyframes anim {
    0%,
    8%{
        margin-top: 0;
    }

    16%,
    24%{
        margin-top: -2.3rem;
    }

    33%,
    41%{
        margin-top: -4.7rem;
    }

    50%,
    58%{
        margin-top: -7.1rem;
    }

    66%,
    74%{
        margin-top: -4.7rem;
    }

    82%,
    90%{
        margin-top: -2.3rem;
    }

    100%{
        margin-top: 0;
    }
}