.landingNav {
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100vw;
    transition: top 0.7s;

    background-color: $landingBackground;
    padding-top: 2vh;
    padding-bottom: 2vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    //Mobile
    @media(max-width: 63.9375em){
        justify-content: space-between;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    &__right{
        display: flex;
        gap: 6vw;
    }

    &__options {
        display: flex;
        gap: 6vw;
        align-items: center;
    }

    &__links {
        display: inline;
        list-style: none;
        a {
            color: white;
            font-family: 'DM Sans';
            font-style: normal;
            font-size: 24px;
            
            &::after{
                content: '';
                width: 0;
                height: 3px;
                background-color: $landingButton;
                margin: auto;
                display: block;
                transition: width 0.2s linear;
            }

            &:hover::after{
                width: 100%;
                transition: width 0.2s linear;
            }
        }
        @media(max-width: 63.9375em){
            display: none;
        }
    }

    &__hamburger{
        display: block;
        height: 23px;
        width: 35px;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-line{
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: white;
        }

        @media(min-width: 63.9375em){
            display: none;
        }
    }
}