.land_clearBtn {
  background: transparent;
  color: #0B9EA7;
  border: 3px solid #0B9EA7;
  border-radius: 15px;
  transition: 0.25s;
}
.land_clearBtn:hover {
  background-color: #0B9EA7;
  color: white;
  transition: 0.25s;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #161526;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html body::-webkit-scrollbar {
  width: 8px;
}
html body::-webkit-scrollbar-track {
  background: transparent;
}
html body::-webkit-scrollbar-thumb {
  background-color: #0B9EA7; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  line-height: 1.3;
  height: 70vh;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-r {
  justify-content: right;
}
.flex-jc-l {
  justify-content: right;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-l {
  align-items: left;
}

button, .button {
  width: 259px;
  height: 49px;
  cursor: pointer;
  white-space: nowrap;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cyanBtn {
  background: linear-gradient(to right, #01ADB4, #00858b);
  border: 0;
  border-radius: 10px;
}

.transparantBtn {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-image: url("../images/btnWaterEffect.svg");
  background-repeat: repeat-x;
  background-position: 0 -100%;
  transition: 0.5s ease;
}
.transparantBtn:hover {
  background-position: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

.landingNav {
  top: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: top 0.7s;
  background-color: #161526;
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landingNav__right {
  display: flex;
  gap: 6vw;
}
.landingNav__options {
  display: flex;
  gap: 6vw;
  align-items: center;
}
.landingNav__links {
  display: inline;
  list-style: none;
}
.landingNav__links a {
  color: white;
  font-family: "DM Sans";
  font-style: normal;
  font-size: 24px;
}
.landingNav__links a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #0B9EA7;
  margin: auto;
  display: block;
  transition: width 0.2s linear;
}
.landingNav__links a:hover::after {
  width: 100%;
  transition: width 0.2s linear;
}
@media (max-width: 63.9375em) {
  .landingNav__links {
    display: none;
  }
}

.landBody {
  padding-top: 35vh;
  padding-left: 9.75vw;
  padding-right: 9.75vw;
  padding-bottom: 40vh;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .landBody {
    justify-content: center;
  }
}
.landBody__left {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  text-align: left;
}
@media (max-width: 1023px) {
  .landBody__left {
    text-align: center;
  }
}
.landBody__title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
}
@media (max-width: 1023px) {
  .landBody__title {
    font-size: 40px;
  }
}
.landBody__title_cyan {
  color: #01ADB4;
  letter-spacing: 3px;
}
.landBody__subtitle {
  display: inherit;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
}
@media (max-width: 1023px) {
  .landBody__subtitle {
    font-size: 20px;
  }
}
.landBody__carrousel {
  margin: 0;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  height: 2.4rem;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .landBody__carrousel {
    text-align: left;
  }
}
.landBody__carrousel_line:first-child {
  -webkit-animation: anim 20s infinite;
          animation: anim 20s infinite;
}

@-webkit-keyframes anim {
  0%, 8% {
    margin-top: 0;
  }
  16%, 24% {
    margin-top: -2.3rem;
  }
  33%, 41% {
    margin-top: -4.7rem;
  }
  50%, 58% {
    margin-top: -7.1rem;
  }
  66%, 74% {
    margin-top: -4.7rem;
  }
  82%, 90% {
    margin-top: -2.3rem;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes anim {
  0%, 8% {
    margin-top: 0;
  }
  16%, 24% {
    margin-top: -2.3rem;
  }
  33%, 41% {
    margin-top: -4.7rem;
  }
  50%, 58% {
    margin-top: -7.1rem;
  }
  66%, 74% {
    margin-top: -4.7rem;
  }
  82%, 90% {
    margin-top: -2.3rem;
  }
  100% {
    margin-top: 0;
  }
}
.whatDo__body {
  margin: 10vw;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.whatDo__body_left {
  text-align: left;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
}
.whatDo__body_left_title {
  font-size: 90px;
  line-height: 110%;
  margin-bottom: 20px;
}
.whatDo__body h3 {
  font-size: 30px;
  color: #AEAEAE;
}

.features {
  padding-top: 300px;
  padding-bottom: 300px;
  width: 100%;
  background-image: url("../images/landing_wave_design.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right, left;
}
.features__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2vh;
}
.features__title h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
}
.features__title h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #AEAEAE;
  width: 27vw;
}
.features__cards {
  margin-top: 140px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 7vw;
}
.features__cards_card {
  height: 465px;
  width: 441px;
  border-radius: 17px;
  background: linear-gradient(#0B9EA7 50%, #0B9EA7, #161526, #161526 50%);
  background-color: #161526;
  background-size: 100% 17.5%;
  background-repeat: no-repeat, no-repeat;
  transition: background 0.75s;
  padding-top: 6vh;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  gap: 2vh;
}
.features__cards_card:hover {
  background-size: 100% 200%;
  cursor: default;
}
.features__cards_card h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}
.features__cards_card h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(closest-side, #0B9EA7 -300%, #161526 100%);
}
.team__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 7.75vw;
       column-gap: 7.75vw;
  row-gap: 1vh;
  padding-bottom: 30vh;
  margin-right: 10vw;
  margin-left: 10vw;
}
.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.team__card_img {
  display: grid;
  position: relative;
}
.team__card_img_top {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}
.team__card_img_bot {
  align-self: flex-end;
  grid-column: 1;
  grid-row: 1;
  padding-bottom: 1px;
}
.team__card_text h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #0B9EA7;
}

.colab__logos {
  padding-top: 20vh;
  padding-bottom: 20vh;
  display: flex;
  justify-content: space-around;
}

.footer {
  background-color: #131220;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 39px;
}
.footer .footer__about {
  display: flex;
  align-items: flex-start;
  gap: 10vw;
}
.footer__logo {
  display: flex;
  gap: 5vw;
}
.footer__line {
  width: 2px;
  height: 40vh;
  background-color: #3C3C53;
}/*# sourceMappingURL=style.css.map */