.radiografias {
    max-height: 50vh;
    max-width: 25vw;
    overflow-y: scroll;
}
.image_wrapper{
    background-color: grey;

}

.hero__upload_rx_container p{
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero__upload_rx_container {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.footer__uploadRX {
    align-content:center;
    font-style: italic;
    margin-left: 50px;
}

.hero__upload_container {
    display: flex;
    flex-direction: column;
    align-content: center;
}
