.main_container{
    max-height: 100vh;
    overflow: hidden;
    background-color: #1A1A1A;
}

.hero_container {
    padding: 37px;
}

.hero_elements {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}

.hero_searchbar {
    display: flex;
    align-items: flex-start;
    justify-content: right;
    outline: none;
}

.hero_searchbar_text {
    margin: 0;
    margin-right: 10px;

    background-color: #2b2b2b;
    border-radius: 5px;
    outline: none;
}

.tablaWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table-wrapper {
    max-height: 73vh;
    width: fit-content;
    overflow-y: scroll;
}
.formik_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20vh;
    justify-content: center;
}

.tabla {
    text-align: left;
}
