.main_container{
    max-height: 100vh;
    overflow: hidden;
    background-color: #1A1A1A;
}

.hero_container {
    padding: 37px;
    height: 80vh;
}

.hero_elements {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
    gap: 5%;
    height: 100%;
    overflow: hidden;
}

.hero_table_search {
    height: 100%;
    width: 35vw;
}

.hero_searchbar {
    margin-bottom: 20px;
    margin-top: 20px;
}

.hero_searchbar_text {
    margin: 0;
    padding-left: 10px;

    background-color: #2b2b2b;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    height: 58px;
    font-weight: 400;
    font-size: 30px;
    font-family: 'DM Sans';
    font-style: normal;
}

.tablaWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

.tablaWrapper::-webkit-scrollbar {
    width: 8px;
}

.tablaWrapper::-webkit-scrollbar-track {
    background: transparent;
}

.tablaWrapper::-webkit-scrollbar-thumb {
    background-color: #00858b;
    border-radius: 20px;
}

.table-wrapper {
    max-height: 73vh;
    width: fit-content;
    width: 100%;
}

.tabla {
    width: 100%;
}

.hero_input_button{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: left;
}

.hero_input_button button:hover {
    opacity: 85%;
}

.formik_wrapper Form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.formik_wrapper button {
    height: 6vh;
}

.hero_add_dni_field {
    margin-bottom: 20px;
    margin-top: 20px;

    padding-left: 10px;

    background-color: #2b2b2b;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    width: 450px;
    height: 58px;
    font-weight: 400;
    font-size: 30px;
    font-family: 'DM Sans';
    font-style: normal;
}

/* Pop-up image */
.hero_preview_image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hero_preview_image_wrapper button {
    width: 20vw;
}

.hero_ultima_prediccion {
    background-color: #323232;
    width: 20vw;
    padding: 20px;
    border-radius: 15px;
    text-align: center;

}

.ultima_prediccion_titles {
    text-align: left;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 46px;
    text-align: left;

    color: #EBEBEB;
}

.ultima_prediccion_titles h2 {
    display: flex;
    justify-content: space-between;
}

.ultima_prediccion_titles span {
    font-weight: 100;
}