.all-container{
    display: flex;
}

/* Video */

.multimedia{
    display: block;
    left: 0;
}

.multimedia video{
    left: 0;
    height: 100vh;
    width: 50vw;
    align-items: left;
}

/* Video */
/* Form */
