@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.all-container {
  display: flex;
  background-color: #2b2b2b;
  font-family: "DM Sans", 'sans-serif';
  overflow: hidden;
}

/* Video */

.multimedia {
    position: relative;
  display: block;
  left: 0;
  bottom: 0;
}

.multimedia video {
  height: 100vh;
  width: 45vw;
  object-fit: cover;
  background-color: #2b2b2b;

}

/* Video */
/* Form */

.form {
  margin-top: 133px;
  margin-left: 145px;
}
.form h2 {
  font-size: 60px;
  margin-bottom: 30px;
  color: white;
}

.login-form {
  position: relative;
  background-color: #2b2b2b;
  margin-bottom: 66px;
}

.form-input {
  font-size: 16px;
  padding: 36px 10px 10px 5px;
  display: block;
  width: 670px;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;

    /* texto q escribe el usuario */
    color: white;
    font-family: "DM Sans", 'sans-serif';
    font-size: 30px;
    /* texto q escribe el usuario */

}
/* animacion del placeholder */
.form-input::placeholder{
    color: white;
    font-family: "DM Sans", 'sans-serif';
    font-size: 30px;
}

.form-input:focus {
  outline: none;
}

.form-input:focus::placeholder {
    transform: translateY(-35px);
    transition: 0.2s ease all;
    font-size: 14px;
    color: #01adb4;
}
/* animacion del placeholder */
.bar {
  position: relative;
  display: block;
  width: 670px;
  margin-top: 20px;
}
/* subrayado on hover (color sage)*/
.bar:before,
.bar:after {
  content: "";
  height: 3px;
  width: 0px;

  /* posicion en y del subrayado */
  bottom: 20px;
  /* posicion en y del subrayado */

  position: absolute;
  background: #01adb4;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* subrayado on hover (color sage)*/

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.form-input:focus ~ .bar:before, .form-input:focus ~ .bar:after {
  width: 50%;
}

/* DROPDOWN */

.dropdown-container select {
    position: absolute;
    width: 200px;
    height: 50px;
    font-size: 25px;
    border:none;
    color: white;
    outline: none;
}
.dropdown-container select:focus{
    border: 3px solid #01adb4;
}


/* DROPDOWN */

/* Form */
