.colab {
    // background: linear-gradient(to top, #262537 .1%, $landingBackground 15%);
    &__logos {
        padding-top: 20vh;
        padding-bottom: 20vh;
        display: flex;
        justify-content: space-around;
    }

}