*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img.logo{
    margin: 3em;
    max-height: 5em;
    max-width: 5em;
}

li.nav-buttons{
    background-color: yellow;
    border: 5px solid green;
    color:black;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    display: inline-block;
}