body{
    /* background-image: url("./assets/background.png");
    background-size: cover; */
    animation: changeBg 5s infinite alternate linear;
}
@keyframes changeBg{
    0%{
        background:red;
    }
    25%{
        background: blue
    }
    50%{
        background: green;
    }
    75%{
        background: white;
    }
    100%{
        background: #000000;
    }

}