body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    position:relative;
    margin: 1em;

}
a.nav-link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    position: relative;
    margin: 2em;
}

a.nav-link::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
    /*animacion de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}
a.nav-link:hover::after{
    /*animacion de derecha a izquierda*/
  transform-origin: left;
  transform: scaleX(1);
}

a.nav-link:active:focus{
    background-color: white;
    transition: 5s;
}






header{
    display: flex;
    height: 70px;
    background-color : transparent;
    justify-content : center;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    justify-content: left;
    max-width: 4em;
    
}
.register-buttons a{
    padding: 10px;
    border: solid 2px white;
    border-radius: 10px;
}
.register-buttons a:hover{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    transition: 1s;
}
