.login-container{
    display:flex;
    background-color: #1A1A1A;
    justify-content: center;
}

/* FORM */

.form-login{
    margin: 20px 30px;
    padding: 20px 20px 0 ;
    flex: 1;
    order: 2;
    flex-grow: 1;
    display: flex;
    flex-shrink: 0;   
    flex-direction: column;
}

.form-login h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

/* FORM */
/* MEDIA */

.multimedia{
    width: 100vw;
    height: 60vh;
    right: 0;
    object-fit: cover;
}


#imagen__login{
    flex: 1;
    display: flex;
    order: 1;
    flex-shrink: 4;
    height: 100vh;
    width: 70vw;
    flex-grow: 2;
}
.login-container .imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;

} 

/* MEDIA */


.input__login{
    display: block;
    margin-bottom: 50px;
    position: relative;
}

.button__login{
    min-width: 100%;
    height: 35px;
    background-color: #01ADB4;
    color: #EBEBEB;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}


.input__login a{
    color: #01ADB4;
    position: relative;
    top: 5px;
    font-size: 15px;
}

.registrate__login{
    font-size: 15px;
    text-align: end;
    width: 100%;
    color: #EBEBEB;
    position: relative;
    top: 5px;
}

.registrate__login a{
    font-size: 15px;
    color: #01adb4;
}


.logo__login{
   justify-content: center;
   color: #EBEBEB;
   align-items: flex-end;
   display: flex;
   height: 100%;
}

.form-login h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    cursor: default;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login__subtext_cyan {
    font-style: italic;
    color: #01ADB4;
}

.login_error {
    color: red;
    font-style: italic;
}

@media screen and (max-width:900px) {
    #imagen__login{
        width: 45vw;
        flex-grow: 1;
    }
    
}

@media screen and (max-width:600px) {
    
    #imagen__login{
        display: none;
    }
    .login-container{
        height: 100vh;
    }
    .form-login{
        height: 95%; 
    }
}