.login-container{
    display:flex;
}

/* FORM */

.form{
    margin-left: 5px;
    margin-right: 5px;
}

/* FORM */
/* MEDIA */

.multimedia{
    width: 100vw;
    height: 60vh;
    right: 0;
    object-fit: cover;
}

label{
    color: aliceblue;
}

/* MEDIA */