.login-container{
    display:flex;
    background-color: #2b2b2b;
}

/* FORM */

.form-login{
    margin-left: 5px;
    margin-right: 5px;
}

.form-login h2{
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
}

/* FORM */
/* MEDIA */

.multimedia{
    width: 100vw;
    height: 60vh;
    right: 0;
    object-fit: cover;
}

#imagen__login{
    margin-left: auto;
}

label{
    color: aliceblue;
}

/* MEDIA */


.input__login{
    outline: none;
    background: transparent;
    margin: 3px;
    border: none;
    padding: 36px 10px 10px 5px;
    border-bottom: 2px solid #fff;
    color: #fff;
    width: 300px;
    position: absolute;
    font-size: 16px;
    display: block;
    left: 100px;
}

.input__login:focus{
    border-bottom: 2px solid #01adb4;
}

.input__login::placeholder{
    color: white;
    font-family: "DM Sans", 'sans-serif';
    font-size: 16px;
}

.input__login:focus::placeholder{
    transform: translateY(-35px);
    transition: 0.2s ease all;
    font-size: 14px;
    color: #01adb4;
}

#email{ 
    top: 200px;
}

#password{
    top: 300px;
}

.button__login{
    width: 304px;
    height: 35px;
    background-color: #01adb4;
    color: #ddd;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 400px;
    left: 100px;
    font-size: 15px;
}

.button__login:hover{
    background-color: #4bf;
    
}

.button__login:active{
    background-color: #26f;;
}


