.login-container{
    display:flex;
}

/* FORM */

.form{
    margin-left: 5px;
    margin-right: 5px;
}

/* FORM */
/* MEDIA */

.multimedia{
    width: 100vw;
    height: 60vh;
    right: 0;
    object-fit: cover;
}

#imagen__login{
    margin-left: auto;
}

label{
    color: aliceblue;
}

/* MEDIA */

.input__login{
    outline: none;
    background-color: #000;
    margin: 3px;
    border: 2px solid #444;
    border-radius: 5px;
    color: #555;
    width: 300px;
    height: 50px;
    position: absolute;
    font-size: 15px;
}

#email{
    
    top: 200px;
    left: 100px;
}

#password{
    top: 300px;
    left: 100px;
}

.button__login{
    width: 304px;
    height: 35px;
    background-color: #3bd;
    color: #ddd;
    border-radius: 5px;
    position: absolute;
    top: 400px;
    left: 100px;
    font-size: 15px;
}


